* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: none;
}

header {
    padding: 42px;
    background-color: #a00968;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header div ul li a {
    text-decoration: none;
    color: rgb(2, 2, 2);
    
}

.section-01 {
    background-color: #8d0759;
    background-image: url(img/Img\ de\ fundo.jpg);
    padding: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-02 {
    background-color: #a00968;
    background-color: rgba(255, 255, 255, 0.315);
    padding: 115px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}

#section-03{
    display: flex;
    flex-direction: column;

}

.section-02{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.932) 8.33%, blue 100%);
}


#section-03{
    background: linear-gradient(180deg, blue 8.33%, black 100%);
}

.section-01 button{
    color: #000000;
    display: flex;
    width: 120px;
    height: 25px;
    background-color: white;
    border-radius: 8px;
}

.section-01 button:hover{
   color: mediumvioletred;
   transition: 0.8s;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   cursor: pointer;
   background-color: #b49bab;
}

#centralizar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer{
    padding: 25px;
    background-color: #a00968;
    
}

footer h2 {
    text-align: center;
}

footer img {
    width: 50px;
}

.div-cortes div:hover{
    transition: 0.8s;
    border-radius: 20px;
}


.div-cortes div{
    width: 200px;
    height: 300px;
    background-color: #000000;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;

}

.div-cortes{
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    margin-bottom: 30px;
    
    
}

.div-cortes .div-1{
    background-image: url(img/Corte\ 1.jpg);
    background-size: cover;
    background-position: center;
    
}

.div-cortes .div-2{
    background-image: url(img/corte\ 2.png);
    background-size: cover;
    background-position: center;
}

.div-cortes .div-3{
    background-image: url(img/corte\ 3.jpg);
    background-size: cover;
    background-position: center;
}

.div-cortes .div-4{
    background-image: url(img/corte\ 4.jpg);
    background-size: cover;
    background-position: center;
}

.div-cortes .div-5{
    background-image: url(img/corte\ 5.jpg);
    background-size: cover;
    background-position: center;
}

.div-cortes .div-6{
    background-image: url(img/corte\ 6.jpg);
    background-size: cover;
    background-position: center;
}
